@{
    ViewBag.Title = "About";
}
<h3 class="text-center page-header">@ViewBag.Title</h3>
@*<hr class="page-header-seperator" />*@
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
