@{
    ViewBag.Title = "Contact";
}
<h3 class="text-center page-header">@ViewBag.Title</h3>
@*<hr class="page-header-seperator" />*@
<div class="container">

    <h3>@ViewBag.Message</h3>
    <div style="border:1px solid #0094ff; border-radius: 5px; padding: 5px;">
        <span class="border-title">
            Address bar
        </span>
        <div style="position: relative; top: -15px;">

            <address class="no-padding">
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address class="no-padding">
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
    </div>
</div>